// SCSS Variable's
$font-primary: 'Futura BdCn BT', sans-serif;
$font-secondary: 'Futura MD BT', sans-serif;
$color-primary:#F1D043;
$color-secondary:#E8E696;
$color-sky:#71a2c3;
$color-gray:#999999;
$color-green:#2D4C33;
$color-green-dark:#233A34;
$color-pest:#28706F;
$color-pest-light:#66B0A9;
$color-grass:#93AB67;
$color-brown:#331832;
$color-black:#000000;
$color-white:#ffffff;
$color-off-white:#E5E5E5;